body {
	background-color: #fff;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

.app-wrapper {
	background-color: #67C1D7;
	border: 1px solid #fff;
	max-width: 640px;
	margin: 40px auto 0;
	padding: 20px;
}

nav {
	text-align: right;
}

a {
	color: #fff;
	font-size: 0.7em;
	letter-spacing: 0.02em;
	margin-right: 20px;
	padding: 8px 12px;
	transition: .2s ease-in-out;
	text-decoration: none;
}

a:hover {
	color: #E4F0F2;
	background-color: #006F83;
}

a:visited {
	color: #fff;
}

main {
	margin: 0 auto;
}

.wrap {
	margin: 60px auto 0;
	text-align: center;
	max-width: 400px;
}

h1 {
	margin: 0 auto 40px;
	min-width: 200px;
	max-width: 400px;
	padding: 0 40px;
	text-align: center;
	border: 1px solid #fff;
	font-weight: 100;
	line-height: 1.5em;
	text-transform: uppercase;
	font-family: 'Roboto';
	transition: .5s ease-in-out;
}

.wrap p {
	font-weight: 100;
	letter-spacing: 0.02em;
	text-align: left;
	margin: 0 auto;
}

.msg, .opt {
	margin: 0 auto 10px;
	background-color: #fff;
	color: #008CA5;
	font-size: 0.9em;
	padding: 20px 5px;
}

.msg p, .opt p {
	max-width: 80%;
}